[submodule "third_party/exprtk"]
	path = third_party/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/richgel999/miniz.git
